<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login Options</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
        <label class="item">
            <md-button class="md-raised md-primary" ng-click="fbLogin()">Login with Facebook</md-button>
            <button class="button button-full button-assertive ink" ng-click="fbLogin()">Login with Facebook</button>
        </label>
    </form>
  </ion-content>
</ion-modal-view>
