<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-recipes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ng-click="login()">
    <!--<ion-nav-view name="tab-recipes"></ion-nav-view>-->
  </ion-tab>

  <!-- Settings Tab
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->

  <!-- About Me Tab
  <ion-tab title="About Me" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/aboutMe">
    <ion-nav-view name="tab-about-me"></ion-nav-view>
  </ion-tab> -->
</ion-tabs>
